In [ ]:
import pandas as pd 
import numpy as np

**Pandas series - like a table column - 1 dimensional data holding any type of data**

In [ ]:
my_series = [5,9,12,27]

var = pd.Series(my_series)

print(var)

In [ ]:
# print specific values
var[2]

In [ ]:
# labels using index arguments

arguments = ["A","B","C","D"]
var2 = pd.Series(my_series,arguments)
print(var2)

In [ ]:
var2["B"]

In [ ]:
# key value dictionaries instead of my_series

cars = {"Tesla":12,"BMW": 14, "Toyota":11}
var3 = pd.Series(cars)
print(var3) 
# we dont then need to create lables separately

In [ ]:
var3["Tesla"]

# **We will create our own data frame using random data generated fomr Numpy. We'll also import data from csv file and turn it into a DataFrame. Then return specific rows from our data frame.**

In [ ]:
from numpy.random import randn # for creating random numbers

In [ ]:
my_data = randn(4,3) # randn(row,colomn)
print(my_data)  

# now create row headers and column headers
my_rows = ["a","b","c","d"]
my_columns = ["friday","monday","sunday"]

In [ ]:
# create a data frame
df = pd.DataFrame(data=my_data,index=my_rows,columns=my_columns)
print(df)

# this is how can create a manual data set

**import a csv file**

In [31]:
df2 = pd.read_csv('C:\\Users\\Alfa\\OneDrive\\Desktop\\python\\pandas for ml\\dogs.csv')
# we can give relative address if the csv file is in the same directory
# path dile double slash dite hobe, to avoid escape characters
df2

,Unnamed: 0,breed,image_path,annotation_path,xmin,ymin,xmax,ymax
0,0,chihuahua,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,25,10,276,498
1,1,chihuahua,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,49,9,393,493
2,2,chihuahua,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,142,43,335,250
3,3,chihuahua,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,0,27,312,498
4,4,chihuahua,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,90,104,242,452
...,...,...,...,...,...,...,...,...
20575,20575,african-hunting-dog,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,8,14,499,349
20576,20576,african-hunting-dog,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,48,0,499,332
20577,20577,african-hunting-dog,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,0,39,170,299
20578,20578,african-hunting-dog,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,235,140,539,334
20579,20579,african-hunting-dog,../input/stanford-dogs-dataset/images/Images/n...,../input/stanford-dogs-dataset/annotations/Ann...,29,32,235,239

In [ ]:
# pull out rows

df2.loc[0]

In [ ]:
# pull out multiple rows 
df2.loc[[0,5]]

# **Head & Tail functions**
**pulling rows with these functions**

In [ ]:
#grab the first 5 data

df2.head(3) # equivalent to df2[:3] slicing technique
# n rows output kore
# default n = 5
# if n<0 then last |n| number of elements baade shob print kore

In [ ]:
# grab first 9 rows
df2.head(9)

In [ ]:
# grab the last 5 rows
# head er ulta tail
df2.tail()

# **info() function**
get information about the data frame

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20580 entries, 0 to 20579
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       20580 non-null  int64
 1   breed            20580 non-null  object
 2   image_path       20580 non-null  object
 3   annotation_path  20580 non-null  object
 4   xmin             20580 non-null  int64
 5   ymin             20580 non-null  int64
 6   xmax             20580 non-null  int64
 7   ymax             20580 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.3+ MB

# **Shape** returns tuples representing dimensionality
get the number of rows and colums

In [34]:
df2.shape

#output: (row,columns)

(20580, 8)

# **ndim: int (property)**
Return an int representing the number of axes / array dimensions.

Return 1 if Series. Otherwise return 2 if DataFrame.

In [35]:
df2.ndim

2

# **dtypes: Series (property)**
Return the dtypes in the DataFrame.

This returns a Series with the data type of each column. The result's index is the original DataFrame's columns. Columns with mixed types are stored with the object dtype.

In [36]:
df2.dtypes

Unnamed: 0          int64
breed              object
image_path         object
annotation_path    object
xmin                int64
ymin                int64
xmax                int64
ymax                int64
dtype: object

# **def describe(**
    percentiles: list[float] | None = ...,
    include: list[Dtype] | Literal['all'] | None = ...,
    exclude: list[Dtype] | None = ...,
    datetime_is_numeric: _bool | None = ...
 ) -> **DataFrame**

**Generate descriptive statistics.**

Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values.

Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types. The output will vary depending on what is provided. Refer to the notes below for more detail.

In [37]:
df2.describe() # gives info about numerical comumns only

         Unnamed: 0          xmin          ymin          xmax          ymax
count  20580.000000  20580.000000  20580.000000  20580.000000  20580.000000
mean   10289.500000     77.120262     56.714869    364.937512    352.755442
std     5941.078606     76.986287     59.949263    130.236919    123.085673
min        0.000000      0.000000      0.000000     28.000000     31.000000
25%     5144.750000     15.000000     13.000000    290.000000    287.000000
50%    10289.500000     57.000000     40.000000    359.000000    338.000000
75%    15434.250000    121.000000     82.000000    439.000000    398.000000
max    20579.000000   1230.000000   1548.000000   2735.000000   2457.000000

In [38]:
# describe a specific column
df2["breed"].describe()

count           20580
unique            120
top       maltese-dog
freq              252
Name: breed, dtype: object

In [39]:
# select specific column using bracket
df2["breed"]

0                  chihuahua
1                  chihuahua
2                  chihuahua
3                  chihuahua
4                  chihuahua
                ...
20575    african-hunting-dog
20576    african-hunting-dog
20577    african-hunting-dog
20578    african-hunting-dog
20579    african-hunting-dog
Name: breed, Length: 20580, dtype: object

In [40]:
# select specific column using dot notation
df2.breed

0                  chihuahua
1                  chihuahua
2                  chihuahua
3                  chihuahua
4                  chihuahua
                ...
20575    african-hunting-dog
20576    african-hunting-dog
20577    african-hunting-dog
20578    african-hunting-dog
20579    african-hunting-dog
Name: breed, Length: 20580, dtype: object

In [42]:
# select specific column using location(.iloc)

df2.iloc[:4,1] #iloc[slicing, columns number]

0    chihuahua
1    chihuahua
2    chihuahua
3    chihuahua
Name: breed, dtype: object

In [44]:
df2.iloc[2,1]

'chihuahua'